{% extends "base.html" %}

{% block content %}
    <h2>Lista mapa Eskolar</h2>
    <div class="table-responsive-sm">
        <table class="table">
          <caption>List of users</caption>
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
            </tr>
          </thead>
          <tbody>
            {% for ebcmap in ebcmaps %}
            <tr>
                <th scope="row">{{ebcmap.id}}</th>
                <th><a href="{{ ebcmap.get_absolute_url }}">{{ ebcmap.name }}</a></th>
                <td>{{ebcmap.geom}}</td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
    </div>

{% endblock %}

