{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load leaflet_tags %}

{% block head %}
 
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    {% load leaflet_tags %}
    {% leaflet_css %}
    {% leaflet_js %}

{% endblock %}


{% block content %}
        <div class="row">
            <div class="col-md-6 detail-list">
                <h2>Detallu mapa Eskolar</h2>
                <p>Naran: {{ object.name }}</p>
                <p>Geom: {{ object.geom }}</p>
            </div>
            <div class="col-md-6 detail-map">
                {% leaflet_map "main" callback="map_init" %}

                <script type="text/javascript">
                    function map_init(map, options) {

                        // get point lat and lon
                        var lon = "{{ object.geom.x }}";
                        var lat = "{{ object.geom.y }}";
                        // zoom to point & add it to map
                        map.setView([lat, lon], 17);
                        L.marker([lat, lon]).addTo(map);
                    }
                </script>
              </div>
        </div>
{% endblock %}
