{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load leaflet_tags %}

{% block head %}
 
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    {% load leaflet_tags %}
    {% leaflet_css %}
    {% leaflet_js %}

{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 detail-map">
                {% leaflet_map "main" callback="map_init" %}

                <script type="text/javascript">
                    function map_init(map, options) {

                        // get point lat and lon
                        var lon = "{{ object.geom.x }}";
                        var lat = "{{ object.geom.y }}";
                        
                        var greenIcon = new L.Icon({
                          iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                          iconSize: [25, 41],
                          iconAnchor: [12, 41],
                          popupAnchor: [1, -34],
                          shadowSize: [41, 41]
                        });

                        // zoom to point & add it to map
                        map.setView([lat, lon], 17);
                        L.marker([lat, lon], {icon: greenIcon}).addTo(map);
                    }
                </script>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12 info_detail">
                    <h2>Informasaun Detallu</h2>
                </div>
            </div>
            <div class="row dark-them">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                      <h4>{{ object.name }}</h4>
                      <h4>{{ object.district }}</h4>
                      <h4>{{ object.geom }}</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                    <div class="card">
                        <img class="card-image-top" src="{{ object.photo.url }}" alt="card image cap"  width="600" height="400">
                        <div class="card-body">
                          <h5 class="card-title">Foto Eskola</h5>
                          <p class="card-text">{{ object.description }}</p>
                          <p class="card-text"><small class="text-muted">By Niko <i class="fas fa-calendar-alt"></i>{% now "D-M-Y" %}</small></p>
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div>
{% endblock %}
