{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load leaflet_tags %}
{% csrf_token %}

{% block head %}
 
    <!-- Make sure you put this AFTER Leaflet's CSS -->

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Eskola sira iha Timor</h2>
                <div>
                </div>
                
                <div id="mapid"></div>
              
                <script>
                    const mappoints = {{ mappoints|safe }};

                    var mymap = L.map('mapid').setView([-8.8315139, 125.6199236,8], 8);
                    
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', {foo: 'bar', attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'}).addTo(mymap);
                    

                    L.geoJSON(mappoints, {
                      style: function (feature) {
                        return {color: 'sky'};
                      }
                    }).bindPopup(function (layer) {
                      var name = layer.feature.properties.name;
                        return name[0] + name.substr(1).toLowerCase();
                    }).addTo(mymap);  

                </script>
            </div>
        </div>
    </div>
{% endblock %}
