{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load leaflet_tags %}
{% csrf_token %}

{% block head %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
 
    <!-- Make sure you put this AFTER Leaflet's CSS -->

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 map-point">
            <div id="mapid"></div>

            <script>

                const districts = {{ districts|safe }};
                const mappoints = {{ mappoints|safe }};


                var eskola_map = L.map('mapid').setView([-8.8315139, 125.6199236,8], 8.5);

                L.tileLayer('{{ url_openstreetmap }}', { minZoom:8, maxZoom: 18 }).addTo(eskola_map);


                L.geoJSON(districts, {
                style: function (feature) {
                        return {color: 'green'};
                    }
                }).bindPopup(function (layer) {
                    var name = layer.feature.properties.name;
                    return "<h4>" + 'Distritu: ' + name[0] + name.substr(1).toLowerCase() + "</h4>";
                }).addTo(eskola_map);

                var geojsonMarkerOptions = {
                    radius: 5,
                    fillColor: "#ff7800",
                    color: "#000",
                    weight: 0.5,
                    opacity: 1,
                    fillOpacity: 0.8
                };

                L.geoJson(mappoints, {
                    pointToLayer: function (feature, latlng) {
                        return L.circleMarker(latlng, geojsonMarkerOptions);
                    }
                }).bindPopup(function (layer) {
                    var feature_content = "<img src='"+ {{ mappoints.photo.url }}  +" "+"' width='90'></br>" + "</br>" + layer.feature.properties.name;
                    return feature_content
                }).addTo(eskola_map);
            </script>
        </div>
    </div>
</div>
{% endblock %}
