<html>
    <head>
        {% load static %}
        {% load i18n %}
        {% csrf_token %}

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/alma_eskolar.css' %}">
        <title>
            {% block title %}Mapa Eskolar{% endblock %}
        </title>

        {% block head %}

        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block content %}
                <script>
                </script>
                {% include 'alma_eskolar/eskola_point.html' %}
                {% include 'alma_eskolar/ebcmap_list.html' %}

            {% endblock %}

            {% block script %}
            {% endblock %}

        </div>
        <footer>
        </footer>
    </body>
</html>
