body {
    margin: 0px;
    color: #000000c7;
    font-family: 'Montserrat';
}

#mapid { 
    height: 460px; 
    width: 1270px;
    margin-bottom: 30px;
}

.container {
    margin: 0px;
}

.logo {
    font-size: 46px;
}

.text {
    font-size: 18px;
}

/* HEADER */

.bg-light {
    padding: 20px;
    background-color: #052641!important;
    font-family: sans-serif;
    color: aliceblue;
}

.navbar-light .navbar-brand {
    font-family: sans-serif;
    color: aliceblue;
}

.navbar-brand {
    font-size: 34px;
}

span.setting {
    color: limegreen;
    padding-left: 800px;
}

/* MAPA DETALLU */

.info_detail {
    margin: 20px;
    margin-left: 460px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

/* FOOTER */
.page-footer {
    margin-top: 30px;
    padding: 40px;
    border-top: 1px solid #dee2e6;
    background-color: #052641;
}

.footer-copyright {
    border-top: 1px solid #487579;
    margin: 30px;
    padding: 20px;
    font-family: sans-serif;
    color: aliceblue;
}

.list-name {
    border-right: 1px solid #dee2e6;
}


/* FILTER LIST */

button.btn.btn-primary.search-filter {
    margin: 28px;
}

.pagination {
    font-size: 16px;
    padding-left: 200px;
    display: initial;
}
